<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Galen.Ci.EntityFramework.Initialization.SecureDatabaseInitializationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Galen.Ci.EntityFramework.Initialization.SecureDatabaseInitializationSettings>
      <setting name="ServiceAccountName" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceAccountDatabaseUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceAccountDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceAccountDatabaseUserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceAccountType" serializeAs="String">
        <value />
      </setting>
    </Galen.Ci.EntityFramework.Initialization.SecureDatabaseInitializationSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>